@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #27272a;
  }
  body {
    background-color: #0a0a0a;
    color: #fafafa;
    font-family: "Inter", system-ui, sans-serif;
  }
}
